<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rent-a-Rattle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="server.js"></script>
    <!--Check on script tags, may not need to link to server-->
</head>

<body>
    <div class="container">
        <div class="jumbotron jumbotron-fluid" id="jumbotron">
            <div class="container">
                <h1 class="display-4">Rent-A-Rattle</h1>
                <p class="lead">Does your baby grow out of things too fast?
                    Are you traveling, but don't want to pack your Pak'n'Play?
                    Do you have stuff you baby doesn't need anymore?
                
                    Welcome to Rent-a-Rattle!
                
                    Here you can rent, borrow, or buy any of you baby's needs for anytime of there life...anywhere you go.</p>
            </div>
        </div>

        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="firstname">First Name</label>
                    <input type="text" class="form-control" id="iteFirstName">
                </div>

                <div class="form-group col-md-6">
                    <label for="lastname">Last Name</label>
                    <input type="text" class="form-control" id="itemLastName">
                </div>
            </div>

            

            <div class="form-row">
                <!-- <div class="form-group col-md-6">
                    <label for="dItemCtgy">Item Category</label> -->
                    <!--Add dropdown to select-->   
                    <!-- <input type="text" class="form-control" id="dItemCtgy" placeholder="Change to drop down"> -->    
                <div class="form-group col-md-6">
                    <label for="dItemCtgy">Item Category</label>
                    <select class="form-control" id="tbd">
                        <option value="" disabled selected>Choose a category</option>
                        <option value="Play">Play</option>
                        <option value="Eat">Eat</option>
                        <option value="Explore">Explore</option>
                        <option value="Bath">Bath</option>
                        <option value="Sleep">Sleep</option>
                        <option value="Miscellaneous">Miscellaneous</option>
                    </select>
                </div>
               <!--  </div> -->

                <div class="form-group col-md-6">
                    <label for="dItemName">Item Name</label>
                    <input type="text" class="form-control" id="dItemName">
                </div>

                <div class="form-group col-md-6">
                    <label for="dItemDes">Item Description</label>
                    <input type="text" class="form-control" id="dItemDes">
                </div>

                <div class="input-field col s6">
                    <label for="dItemPhoto">Link to Item Image (Required)</label>
                    <input type="text" class="form-control validate" id="dItemPhoto" placeholder="Photo Link Here" id="dItemPhoto">
                </div>

                <div class="form-group col-md-6">
                    <label for="dItemQuantity">Item Quantity</label>
                    <input type="text" class="form-control" id="dItemQuantity">
                </div>

            </div>

            <label>I would like to...</label>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="custChoice" id="lend" value="renter">
                <label class="form-check-label" for="rent">Lend Item</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="custChoice" id="donate" value="donator">
                <label class="form-check-label" for="donator">Donate Item</label>
            </div>

            <button type="submit" Class="ctn btn-primary mb-2" item="submit">Submit</button>
        </form>
        <!--Show available items here-->
    </div>

    <!--Bootstrap 4 jQuery scripts-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>