{{!-- welcome jumbotron --}}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">This! Is! Rent-a-Rattle!</h1>
    <p class="lead">The place where you can meet your baby needs with ease.</p>
  </div>
</div>
{{!-- section for problem statement --}}
<div class="card">
  <div class="card-body">
    Does your baby grow out of things too fast?
    Are you traveling, but don't want to pack your Pak'n'Play?
    Do you have stuff you baby doesn't need anymore?

    Welcome to Rent-a-Rattle!

    Here you can rent, borrow, or buy any of you baby's needs for anytime of there life...anywhere you go.
  </div>
</div>